<h4>Other Travelers</h4>
<ul>
  <% if @users.blank? %>
    <h5>Sorry, there are no travelers found named "<%= params[:search] %>"</h5>
  <% else %>
    <% @users.each do |user| %>
      <li>
        <%= link_to "#{user.name}", user_path(user.id) %>
      </li>
    <% end %>
  <% end %>
</ul>
