<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>Restaurants</h2>

<ul>
  <% if current_user %>
    <% ordered_restaurants = current_user.restaurants.order(:name) %>
    <% ordered_restaurants.each do |restaurant|  %>
      <li>
        <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
      </li>
    <% end %>
  <% end %>
</ul>
<br />
