<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>List of Countries</h2>

<ul>
  <% if current_user %>
    <% ordered_countries = current_user.countries.order(:name) %>
    <% ordered_countries.each do |country| %>
      <li>

        <%= link_to "#{country.name}", country_path(country) %>
      </li>
    <% end %>
  <% end %>
</ul>
<br />


<%= link_to "Add Country", new_country_path %>
<br />
