<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>Hotels</h2>

<ul>
  <% if current_user %>
    <% ordered_hotels = current_user.hotels.order(:name) %>
    <% ordered_hotels.each do |hotel|  %>
      <li>
        <%= link_to "#{hotel.name}", hotel_path(hotel) %>
      </li>
    <% end %>
  <% end %>
</ul>
<br />
