<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>Sites</h2>

<ul>
  <% if current_user %>
    <% ordered_sites = current_user.sites.order(:name) %>
    <% ordered_sites.each do |site|  %>
      <li>
        <%= link_to "#{site.name} - #{site.location.name}", site_path(site) %>
      </li>
    <% end %>
  <% end %>
</ul>
<br />


<!-- <%= link_to "Add Site", new_site_path %> -->
