<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>Locations</h2>

<ul>
  <% if current_user %>
    <% current_user.locations.each do |location|  %>
      <li>
        <%= link_to "#{location.name}", location_path(location) %>
      </li>
    <% end %>
  <% end %>
</ul>
<br />


<%= link_to "Add Location", new_location_path %>
