<% if flash[:notice] %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="center notice"><%= flash[:notice] %></div>
      </div>
    </div>
  </div>
<% end %>
